<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Interview History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h2 class="interview-history">Interview History</h2>
        <a href="/index" class="link-button back-to-interview">Back to Interview</a>
        <h3 style="margin-bottom: 5px; font-size: 25px;">Click a Question to see all the results</h3>
        <hr>
        {% if questions %}
            <ul class="history-list">
                {% for question in questions %}
                    <li>
                        <a href="/history_question/{{ question }}">{{ question|trim }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No questions found.</p>
        {% endif %}
    </div>
</body>
</html>